@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital@0;1&family=Poppins:wght@500&family=Work+Sans&display=swap");
body {
  font-family: "Poppins", sans-serif !important;
}
.navbar-heading {
  font-weight: 700 !important;
  font-size: 22px !important;
  color: #3e3e3e !important;
}
.navbar-item {
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #3e3e3e !important;
}
.custom-margin {
  margin-left: 156px !important;
  margin-right: 156px !important;
  margin-bottom: 33px !important;
  margin-top: 40px !important;
}
.custom-carousel-cap {
  padding-bottom: 62px !important;
  width: 35% !important;
  margin: auto !important;
}
.carousel-head {
  font-weight: 600 !important;
  font-size: 48px !important;
  color: #ffffff !important;
}
.carousel-content {
  padding-top: 5px !important;
  padding-bottom: 17px !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  color: #ffffff !important;
  width: 70% !important;
  margin: auto !important;
}

.custom-btn-1 {
  background: #ffffff !important;
  border-radius: 5px !important;
  padding: 10px 45px !important;
  color: #3f87f5 !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}

main {
  margin-left: 156px !important;
  margin-right: 156px !important;
}
section {
  margin-top: 100px !important;
}
.custom-btn-2 {
  background: #3f87f5 !important;
  border-radius: 0px !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  color: #ffffff !important;
  padding: 10px 24px;
}
.content-img {
  width: 50% !important;
  margin: auto !important;
}
.content-img img {
  width: 100% !important;
}
.content-info {
  width: 50% !important;
  margin: auto !important;
}
.content-head {
  font-weight: 700 !important;
  font-size: 38px !important;
  color: #0a0826 !important;
}
.content-desc {
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 28px !important;
  color: #6c6c6c !important;
  padding-top: 6px !important;
  padding-bottom: 20px !important;
}
.custom-flex {
  gap: 35px !important;
}
.section-head {
  font-weight: 600 !important;
  font-size: 38px !important;
  color: #0a0826 !important;
  text-align: center;
}
